* {
    font-family: 'Arial';
}

/*h1 {
    text-transform: uppercase;
}*/

body {
    /* background: url('/web/20130509012220im_/http://www.deutschesee.de/familyoffish/img/bg_sky.jpg') no-repeat scroll center 0 #03060d; */
    background: url('images/test.png') no-repeat scroll center 0 #03060d;
    overflow-x: hidden;
    vertical-align: baseline;
    /* min-width: 1600px; */
    margin: 0;
    background-size: cover;
}

html, body {
    overflow-x: hidden;
}

div#form-wrapper {
    position: absolute;
    top: 1000px;
}

div#wrapper {
    width: 1600px;
    height: 5150px;
    margin: 0;
    overflow: hidden;
    position: relative;
}

/* not filling screen */
div#water {
    background: url('images/water.png') no-repeat scroll center 0 transparent;
    position: relative;
    top: 600px;
    width: 100%;
    height: 3360px;
}

div#bubbles {
    background: url('images/bubbles.png') no-repeat scroll center 0;
    position: relative;
    top: -2000px;
    width: 1224px;
    height: 5744px;
    margin: 0 auto;
}