* {
    font-family: 'Arial';
}

html {
    scroll-behavior: smooth;
}

div#titles h1, div#titles p, div#titles span {
    font-family: 'Bubble World', sans-serif;
}

div#titles span {
    font-size: .85em;
}

div#titles {
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 3em;
    color: hotpink;
    text-shadow: 3px 3px black;
}

body {
    background: url('images/bg.png') no-repeat scroll center 0 #03060d;
    overflow-x: hidden;
    vertical-align: baseline;
    margin: 0;
    background-size: cover;
    cursor: default;
}

html, body {
    overflow-x: hidden;
    accent-color: #133260;
}

div#form-wrapper {
    position: absolute;
    top: 1050px;
    width: 100%;
    height: 100%;
    text-align: center;
}

div#wrapper {
    width: 1600px;
    height: 4830px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

div#water {
    background: url('images/water.png') no-repeat scroll center 0 transparent;
    position: relative;
    top: 600px;
    width: 100%;
    height: 3000px;
}

div#bubbles {
    background: url('images/bubbles.png') no-repeat scroll center 0;
    position: relative;
    top: -2175px;
    width: 1224px;
    height: 4000px;
}

div#form-wrapper div.info {
    width: 500px;
    margin: 0 auto;
    padding: 10px 0;
    margin-bottom: 100px;
    background: radial-gradient(ellipse at center, #264e7e 0%, #133260 80%);
    box-shadow: 0 0 20px #0d2343;
    border-radius: 20px;
    color: lightblue;
}

div#form-wrapper p.notice {
    font-size: .8em;
    color: red;
}

div#form-wrapper div.question {
    padding-bottom: 1em;
    font-size: 1.5em;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-gap: 0.25em;
}

/* footer */
div.footer {
    color: white;
    display: grid;
    justify-content: space-evenly;
    grid-template-areas: "auto auto auto";
    text-align: center;
    height: 300px;
    align-items: center;
}

div.lefted {
    text-align: left;
    margin: auto;
    display: grid;
    align-items: center;
    grid-template-columns: 25px auto;
}

/* input type="number" */
input[type=number] {
    width: 40px;
}

input, select{
    height: 30px;
    font-size: .85em;
    border-radius: 5px;
    border: 1px solid #264e7e;
    background: #0d2343;
    color: lightblue;
    text-align: center;
}

textarea {
    resize: none;
    border-radius: 5px;
    border: 1px solid #264e7e;
    background: #0d2343;
    color: lightblue;
    min-height: 92px;
}

/* radio buttons */
input[type=radio], input[type=radio] + label {
    cursor: pointer;
}

input[type=checkbox], input[type=checkbox] + label {
    cursor: pointer;
}

.dable {
    cursor: not-allowed;
    background: #293d5b;
}

#hypothesis-count, #description-count {
    position: absolute;
    bottom: 8px;
    right: 5px;
    font-size: .7em;
    color: grey;
}

.textarea-wrapper{
    position: relative;
    display: inline-block;
}

.note {
    color: grey;
    font-size: 0.7em;
}

input[type=button], input[type=submit] {
    cursor: pointer;
}

input[type=submit] {
    height: auto;
    width: auto;
    font-size: 3em;
}

input:hover[type=submit] {
    background: #14376b;
}

input:active[type=submit] {
    background: #08152b;
}

.map{
    display: none;
}

.map.show{
    display: inline;
    border-radius: 3%;
}

.contact{
    display: grid;
}

.down-arrow {
    animation: jumpi 1.5s infinite;
}

@keyframes jumpi {
    0% {
      margin-top: 0;
    }
    50% {
      margin-top: 20px;
    }
    100% {
      margin-top: 0;
    }
}